form{
width: 600px;
margin: 100px auto;
}

input[type=search]{
width: 400px;
height: 40px;
font-size: 16px;
padding: 0px 20px 0px 40px;
border-radius: 40px;
outline: none;
border: solid gray 2px;
background: src('Search.png') 7px center no-repeat;
}